.app {
  font-family: 'PTAstraSans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;

  width: 100%;
  height: 100%;

  color: #3a3e46;
  background-color: #fff;
}
