.delete-btn {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 5px;

  display: flex;

  width: 26px;
  height: 26px;

  cursor: pointer;
  transition: background-color .3s, opacity .3s, box-shadow .3s;

  opacity: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #adadad;

  justify-content: center;
  align-items: center;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: #eb5757;
  box-shadow: 0 0 5px #eb5757;
}

.area--content .delete-btn {
  top: 9px;
  left: 9px;

  width: 40px;
  height: 40px;

  background-size: 24px 24px;
}

.layout--shop .area--footer .delete-btn {
  background-color: #3a3e46;
}

.layout--shop .area--footer .delete-btn:hover,
.layout--shop .area--footer .delete-btn:focus {
  background-color: #eb5757;
  box-shadow: 0 0 5px #eb5757;
}

.element:hover .delete-btn,
.element:focus .delete-btn,
.element:focus-within .delete-btn {
  opacity: 1;
}